.nav-bar {
    background: white;
    width: 100%;
    height: 60px;
    position: fixed;
    top: 0;
    z-index: 100;
    min-height: 500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);

    .logo {
        font-size: 30px;
        color: #4d4d4e;
        font-family: 'Share Tech Mono', monospace;
    }



    nav {
    display: flex;
    text-align: center;
    gap: 2rem;

    a {
        font-size: 18px;
        color: #4d4d4e;
        position: relative;
        text-decoration: none;
        padding: 0.5rem;

        &:hover {
            color: #fd9bc2;
        }

        &:active {
            color: #f062ba;
        }

        &:after {
            content: attr(data-label);
            font-size: 10px;
            letter-spacing: 1px;
            position: absolute;
            color:#aaa;
            bottom: -20px;
            width: 100%;
            text-align: center;
            opacity: 0;
            transition: all 0.3s ease-out;
        }

        &hover::after {
            opacity: 1;
        }
    }
}


    ul {
        display: flex;
        gap: 1rem;
        list-style: none;
    
        li a {
            color: #4d4d4e;
            font-size: 18px;

            &:hover {
                color: #fd9bc2;
            }
        }
    }
}


